@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,200,500);
/* line 5, ../scss/main.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 12, ../scss/main.scss */
body {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #34495e;
}
/* line 18, ../scss/main.scss */
body h1 {
  font-family: 'Raleway',sans-serif;
}

/* line 24, ../scss/main.scss */
.jumbotron {
  background: #34495e;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
  color: #fff;
}
/* line 30, ../scss/main.scss */
.jumbotron .menu {
  padding: 0px 0;
}
/* line 33, ../scss/main.scss */
.jumbotron .menu a.page-title {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
/* line 39, ../scss/main.scss */
.jumbotron .menu ul {
  list-style: none;
}
/* line 41, ../scss/main.scss */
.jumbotron .menu ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 44, ../scss/main.scss */
.jumbotron .menu ul li a {
  color: #fff;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
/* line 49, ../scss/main.scss */
.jumbotron .menu ul li a:hover {
  text-decoration: underline;
}
/* line 56, ../scss/main.scss */
.jumbotron .title {
  padding: 200px 0;
}
/* line 59, ../scss/main.scss */
.jumbotron h1 {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 80px;
}
/* line 64, ../scss/main.scss */
.jumbotron p {
  font-family: 'Lato',sans-serif;
  font-weight: 300;
}
/* line 68, ../scss/main.scss */
.jumbotron .title-invert {
  color: #aaa;
}
/* line 71, ../scss/main.scss */
.jumbotron img.tip {
  margin-bottom: 0;
  padding: 0px 0;
  background-color: transparent;
}

/* line 79, ../scss/main.scss */
section.feature .title {
  border: 1px solid #34495e;
  border-radius: 4px;
  padding: 10px 10px;
  transition: all .3s ease-in-out;
  text-rendering: optimizeLegibility;
}
/* line 85, ../scss/main.scss */
section.feature .title h1 {
  font-weight: 600;
  text-transform: uppercase;
}
/* line 90, ../scss/main.scss */
section.feature .card {
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

/* line 99, ../scss/main.scss */
section.feature:hover .title {
  background-color: #34495e;
  color: #fff;
}

@media screen {
  /* line 105, ../scss/main.scss */
  header {
    height: 100%;
  }
}
/* line 110, ../scss/main.scss */
.video-section .buttonBar {
  display: none;
}

/* line 115, ../scss/main.scss */
.m-b-lg, section.feature .card {
  margin-bottom: 3rem !important;
}
